{{ form_start(form) }}
    <button type="submit" class="cart__remove-item"><i class="iconmoon icon-ico-close"></i></button>
    {{ form_widget(form._token) }}
{{ form_end(form, {'render_rest':false}) }}
