<ul class="tabs transparent">
    <li class="tab col s3"><a href="#carts" class="active">Paniers</a></li>
    <li class="tab col s3"><a href="#orders">Commandes</a></li>
</ul>
<div id="carts">
    {{ form_widget(form.cart) }}
</div>
<div id="orders">
    {{ form_widget(form.order) }}
</div>
