
<div id="items-fields-list" data-prototype="{{ form_widget(form.items.vars.prototype)|e }}"
     data-widget-tags="{{ '<div class="box item"></div>'|e }}">
</div>
<p>
    <button type="button" class="add-item-collection-widget waves-effect waves-light btn add-collection-widget"
            data-list="#items-fields-list">Add produit</button>
</p>
